___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise - 

# The Data

The dataset contains a list of all stocks included in the SP500 and associated key financials. <br />

Note that there are multiple viable solutions for most of the tasks!


Acknowledgements
----------------------------
The dataset was originally provided on https://datahub.io/core/s-and-p-500-companies-financials and is licensed under Open Data Commons Public Domain Dedication and License. (https://opendatacommons.org/licenses/pddl/1-0/)

**Task: Import the necessary libraries**

In [1]:
#LIBRARIES
import numpy as np
import pandas as pd

**Task: Read the two datasets provided in the current directory (also available in the DATA folder. (The file names are: constituents.csv and constituents-financials.csv)**

In [2]:
# CODE HERE
df_cons = pd.read_csv('constituents.csv')
df_fina = pd.read_csv('constituents-financials.csv')

**Task: List all columns of the two datasets. Additionally retrieve the datatype for each column**

In [3]:
# CODE HERE
df_cons.columns
df_fina.columns
df_cons.dtypes
df_fina.dtypes

Symbol             object
Price             float64
Price/Earnings    float64
Dividend Yield    float64
Earnings/Share    float64
52 Week Low       float64
52 Week High      float64
Market Cap          int64
EBITDA            float64
Price/Sales       float64
Price/Book        float64
SEC Filings        object
dtype: object

**Task: Print the first 5 rows of both datasets**

In [5]:
# CODE HERE
df_cons.head()
df_fina.head(10)

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,222.89,24.31,2.332862,7.92,259.770,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,60.24,27.76,1.147959,1.70,68.390,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,56.27,22.51,1.908982,0.26,64.600,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,108.48,19.41,2.499560,3.29,125.860,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,150.51,25.47,1.714470,5.44,162.600,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...
5,ATVI,65.83,31.80,0.431903,1.28,74.945,38.930,52518668144,2.704000e+09,10.595120,5.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
6,AYI,145.41,18.22,0.351185,7.43,225.360,142.000,6242377704,5.878000e+08,1.795347,3.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
7,ADBE,185.16,52.31,0.000000,3.39,204.450,114.451,94550214268,2.538040e+09,13.092818,11.06,http://www.sec.gov/cgi-bin/browse-edgar?action...
8,AAP,109.63,19.54,0.218321,6.19,169.550,78.810,8123611867,8.539410e+08,1.130106,2.51,http://www.sec.gov/cgi-bin/browse-edgar?action...
9,AMD,11.22,187.00,0.000000,0.03,15.650,9.700,11191663795,3.390000e+08,2.109195,21.47,http://www.sec.gov/cgi-bin/browse-edgar?action...

**Task: Drop the SEC Filings column**

In [6]:
# CODE HERE
df_fina = df_fina.drop('SEC Filings', axis = 1)

**Task: Set the Symbol column to the index in the financials dataset**

In [7]:
# CODE HERE
df_fina = df_fina.set_index('Symbol')

In [8]:
df_fina

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62
...,...,...,...,...,...,...,...,...,...,...
XYL,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31
YUM,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08
ZBH,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39
ZION,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42
ZTS,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: What are the 10 largest companies according to market cap?**

In [9]:
df_fina[['Market Cap']].sort_values(by = 'Market Cap', ascending = False).iloc[0:10]

          Market Cap
Symbol
AAPL    809508034020
GOOGL   733823966137
GOOG    728535558140
MSFT    689978437468
AMZN    685873374731
FB      523423036576
JPM     386613611000
JNJ     353062464971
XOM     326148660000
BAC     321478200969

**Task: Return all information about the 10 largest companies according by market cap**

In [19]:
# CODE HERE
df_fina[df_fina['Market Cap'] >=321478200969].sort_values(by = 'Market Cap', ascending = False)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.1000,131.1200,809508034020,7.938600e+10,3.458609,5.66
GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.3000,733823966137,3.421700e+10,6.801692,4.70
GOOG,1001.52,40.29,0.000000,22.27,1186.8900,803.1903,728535558140,3.271400e+10,6.772653,4.67
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.2200,689978437468,4.107900e+10,7.113097,9.49
AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.5000,685873374731,1.613200e+10,3.927053,24.28
FB,171.58,27.90,0.000000,5.39,195.3200,132.4400,523423036576,2.362400e+10,13.241967,7.08
JPM,107.88,15.43,1.984584,6.30,117.3529,81.6350,386613611000,0.000000e+00,3.371499,1.60
JNJ,126.36,17.31,2.556688,0.39,148.3200,113.1500,353062464971,2.243000e+10,4.632622,4.74
XOM,76.07,21.37,4.003120,1.88,89.3000,76.0500,326148660000,3.905200e+10,1.770194,1.85
BAC,29.74,16.34,1.536000,1.55,32.6700,22.0700,321478200969,0.000000e+00,3.201187,1.24

Note: The difference between GOOG and GOOGL is, that GOOG shares have no voting rights

**Task: Drop GOOG**

In [ ]:
# CODE HERE

**Task: How many companies have a dividend yield > 4% ?**

In [ ]:
# CODE HERE

**Task: What is the mean Earnings per Share for all companies with a market cap > 1e+11**

In [ ]:
# CODE HERE

**Task: How many companies have a positive earnings per shares ratio?**

In [ ]:
# CODE HERE

**Task: Which company pays the highest dividend yield? What was its 52 week high?**

In [ ]:
# CODE HERE

**Task: Return the company with the largest spread between 52 weeks high and low**

In [ ]:
# CODE HERE

**Task: Return all companies whith a price between \\$ 50 and \\$ 100**

In [ ]:
# CODE HERE

**Task: The market cap is really hard to read. Create a new column called "Market Cap in Billion" which shows the market cap in billions**

In [ ]:
# CODE HERE

**Task: Is there a correlation between the market cap and the Dividend Yield?**

In [ ]:
# CODE HERE

**Task: Merge the financials dataframe with the constituents dataframe**

In [ ]:
# CODE HERE

**Task: Print all sectors. How often does each sector occur?**

In [ ]:
# CODE HERE

**Task: Replace Information Technology by "IT"**

In [ ]:
#CODE HERE

**Task: Add a \$ before the stock price**

In [ ]:
# CODE HERE